@using Board_Game_Stranica.Models
@model Korisnik

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="table">
        @*<tr>
            <td>@Html.LabelFor(m => m.Id_korisnik)</td>
            <td>
                @Html.TextBoxFor(m => m.Id_korisnik, new { disabled = true })
            </td>
        <tr>*@
        <tr>
            <td>@Html.LabelFor(m => m.Ime)</td>
            <td>
                @Html.TextBoxFor(m => m.Ime)
                @Html.ValidationMessageFor(m => m.Ime)
            </td>
        <tr>
        <tr>
            <td>@Html.LabelFor(m => m.Prezime)</td>
            <td>
                @Html.TextBoxFor(m => m.Prezime)
                @Html.ValidationMessageFor(m => m.Prezime)
            </td>
        <tr>

    </table>
    <p>@Html.ValidationSummary("Prvo popraviti sljedeće:")</p>
    <p><input type="submit" value="Spremi" /></p>
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}


