@using Board_Game_Stranica.Models
@model Dogadaj

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Site.css")
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div>
        <h2>@ViewBag.Title</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <table>
                <tr>
                    <td>@Html.LabelFor(m => m.Id)</td>
                    <td>
                        @Html.TextBoxFor(m => m.Id,
                   new { disabled = true })
                    </td>
                <tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Ime)</td>
                    <td>
                        @Html.TextBoxFor(m => m.Ime)
                        @Html.ValidationMessageFor(m => m.Ime)
                    </td>
                <tr>
                <tr>
                    <td>@Html.LabelFor(m => m.DatumOdrzavanja)</td>
                    <td>
                        @Html.TextBoxFor(m => m.DatumOdrzavanja, "{0:yyyy-MM-dd}",
                   new { type = "date"})
                        @Html.ValidationMessageFor(m => m.DatumOdrzavanja)
                    </td>
                <tr>

            </table>
            <p>@Html.ValidationSummary("Prvo popraviti sljedeće:")</p>
            <p><input type="submit" value="Spremi" /></p>
        }
    </div>
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
</body>
</html>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
